Integers, floating point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.

We can use the type() function to know which class a variable or a value belongs to. Similarly, the isinstance() function is used to check if an object belongs to a particular class.

In [1]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

In [2]:
#Integer to Binary Conversion bin()
a=25
print("The type of variable having value", bin(a), " is ", type(a))

The type of variable having value 0b11001  is  <class 'int'>

In [3]:
#Binary to Integer Conversion prefix 0b (zero + lowercase letter 'b')
a=0b1111                          
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 15  is  <class 'int'>

In [4]:
# exp2 Binary to Integer Conversion 0B (zero + uppercase letter 'B')
a = -0B1111
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value -15  is  <class 'int'>

In [5]:
# exp2 Binary to Integer Conversion 0B (zero + uppercase letter 'B')
a = -0B1111
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value -15  is  <class 'int'>

In [6]:
#Integer to Octal Conversion oct()
a = 23
print("The type of variable having value", oct(a), " is ", type(a))

#Octal To Integer Conversion 0o (zero + lowercase letter 'o')
a = 0o1111
print("The type of variable having value", int(a), " is ", type(a))

#Octal To Integer Conversion 0O (zero + uppercase letter 'O')
a = 0O7777
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 0o27  is  <class 'int'>
The type of variable having value 585  is  <class 'int'>
The type of variable having value 4095  is  <class 'int'>

In [7]:
#Integer to Hexadecimal Conversion hex()
a = 63
print("The type of variable having value", hex(a), " is ", type(a))

#Hexadeciaml to Integer Conversion 0X (zero + uppercase letter 'X')
a = 0XFace
print("The type of variable having value", int(a), " is ", type(a))

#Hexadecimal to Integer Conversion 0x (zero + lowercase letter 'x')
a = 0xBeef
print("The type of variable having value", int(a), " is ", type(a))

The type of variable having value 0x3f  is  <class 'int'>
The type of variable having value 64206  is  <class 'int'>
The type of variable having value 48879  is  <class 'int'>

##Numeric Type Conversion

Most of the time Python will do variable conversion automatically. You can also use Python conversion functions 

int(), 

float(),

complex()

to convert data from one type to another. In addition, the type function returns information about how your data is stored within a variable.

##CONVERTING INTEGER DATA TO FLOAT AND COMPLEX

In [9]:
#Converting Integer to Float
a=100
print(type(a))
b =  float(a)
print(type(b))

#Converting Integer to complex
a=100
print("Type conversion to float ", complex(a))

c = complex(4,5)
c

<class 'int'>
<class 'float'>
Type conversion to float  (100+0j)

(4+5j)

##CONVERTING FLOAT TO INTEGER AND COMPLEX

In [10]:
#converting  a variable with float value to Integer
b=10.2345
print("Flaot to integer is", int(b))

#converting a variable with float value Complex
b=10.2345
print("Float to Complex is", complex(b))

Flaot to integer is 10
Float to Complex is (10.2345+0j)

##setting precision

In [11]:
a = 3.4536879700
  
# using "%" to print value till 2 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.f'%a) 
  
# using format() to print value till 3 decimal places  
print ("The value of number till 3 decimal place(using format()) is : ",end="") 
print ("{0:.3f}".format(a)) 
  
# using round() to print value till 1 decimal places  
print ("The value of number till 1 decimal place(using round()) is : ",end="") 
print (round(a,1))

The value of number till 2 decimal place(using %) is : 3
The value of number till 3 decimal place(using format()) is : 3.454
The value of number till 1 decimal place(using round()) is : 3.5

## datatype - STRING

In [12]:
a = "string in a double quote"
b = 'string in a single quote'
print(a)
print(type(a))
print(b)

# using ',' to concatenate the two or several strings
print(a,"concatenated with",b)

#using '+' to concate the two or several strings
print(a+" concated with "+b)

element = "elephant"
count = 5
print ("The item {} is repeated {} times".format(element,count))

guest = "AISHWARYA"
time = "6 AM"
print("Welcome to the party {} At {}".format(guest,time))

string in a double quote
<class 'str'>
string in a single quote
string in a double quote concatenated with string in a single quote
string in a double quote concated with string in a single quote
The item elephant is repeated 5 times
Welcome to the party AISHWARYA At 6 AM

##Escape sequencing in python

In [13]:
# Python Program for  
# Escape Sequencing   
# of String  
    
# Initial String  
String1 = '''I'm a "Geek"'''
print("Initial String with use of Triple Quotes: ")  
print(String1)  
    
# Escaping Single Quote   
String1 = 'I\'m a "Geek"'
print("\nEscaping Single Quote: ")  
print(String1)  
    
# Escaping Doule Quotes  
String1 = "I'm a \"Geek\""
print("\nEscaping Double Quotes: ")  
print(String1)  
    
# Printing Paths with the   
# use of Escape Sequences  
String1 = "C:\\Python\\Geeks\\"
print("\nEscaping Backslashes: ")  
print(String1)

Initial String with use of Triple Quotes:
I'm a "Geek"

Escaping Single Quote:
I'm a "Geek"

Escaping Double Quotes:
I'm a "Geek"

Escaping Backslashes:
C:\Python\Geeks\

##Applying special meaning to characters

In [1]:
print('foo\tbar')

foo	bar

Here is a list of escape sequences that cause Python to apply special meaning instead of interpreting literally

\a-> ASCII Bell (BEL) character

\b-> ASCII Backspace (BS) character

\f-> ASCII Formfeed (FF) character

\n-> ASCII Linefeed (LF) character

\N{}-> Character from Unicode database with given

\r-> ASCII Carriage Return (CR) character

\t -> ASCII Horizontal Tab (TAB) character

\uxxxx-> Unicode character with 16-bit hex value xxxx

\Uxxxxxxxx-> Unicode character with 32-bit hex value xxxxxxxx

\v-> ASCII Vertical Tab (VT) character

\ooo-> Character with octal value ooo

\xhh-> Character with hex value hh

##Operations on string

#Indexing in Python
Positive Indexing -> Left To Right

Negative Indexing ->Right to left

In [4]:
s = "#AISHWARYA"
#Positive Indexing In Python
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[7])
print(s[8])
print(s[9])

#
A
I
S
H
W
A
R
Y
A

In [5]:
s = "#AISHWARYA"
#Negative Indexing In Python
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])
print(s[-7])
print(s[-8])
print(s[-9])
print(s[-10])

A
Y
R
A
W
H
S
I
A
#

#Slice Operator

Slice itself is a substring creator

Slicing is a technique for extracting parts of a string.

Note: In Python, index starts from 0.

To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring.

#Syntax

str[begin:end]

In [9]:
s[0:4] #AISHWARYA

'#AIS'

In [11]:
s[1:] #AISHWARYA  #Default value is end of string if not specified where to end.

#end is optional

'AISHWARYA'

In [12]:
s[:5] #if start value is not specified it will start from begning.

#begning is optional

'#AISH'

In [13]:
s[-4:-1] #begning value should be lower and end value should be higher

'ARY'

##Type Conversion

ascii()	Returns a string containing a printable
 representation of an object

bin()	Converts an integer to a binary string

bool()	Converts an argument to a Boolean value

chr()	Returns string representation of character given by integer argument

complex()	Returns a complex number constructed from arguments

float()	Returns a floating-point object constructed from a number or string

hex()	Converts an integer to a hexadecimal string

int()	Returns an integer object constructed from a number or string

oct()	Converts an integer to an octal string

ord()	Returns integer representation of a character

repr()	Returns a string containing a printable 
representation of an object

str()	Returns a string version of an object

type()	Returns the type of an object or creates a new type object

In [14]:
#capitalize(): Converts the first character of a string to uppercase letters.
mystr='python'
mystr.capitalize()

'Python'

In [15]:
#upper() Replaces the lowercase characters in a string with corresponding uppercase characters.
mystr='Python'
mystr.upper()

'PYTHON'

In [16]:
#lower() Replaces the uppercase characters in a string with corresponding lowercase characters.
mystr='PYTHON'
mystr.lower()

'python'

In [17]:
#title():Returns the string with the first character of each word converted to uppercase.
mystr='python tutorial from tutorials teacher'
mystr.title()

'Python Tutorial From Tutorials Teacher'

In [18]:
#find():The find() method finds the first occurrence of a substring in another string. If not found, the method returns -1.
mystr='Python Tutorial From Tutorials Teacher'
mystr.find('From')

16

In [19]:
#count():The count() method returns the number of occurrences of a substring in the given string.
mystr='Python Tutorial From Tutorials Teacher'
mystr.count('Tutorial')

2

In [20]:
#isalpha():The isalpha() method returns true if all the characters in a string are alphabetic letters (a-z or A-Z), otherwise it returns false.
mystr='TutorialsTeacher'
mystr.isalpha()

True

In [21]:
#isdigit() The isdigit() is method returns true if all the characters in string are digits (0-9), if not, it returns false.
str1='2000'
str1.isdigit()

True

In [22]:
#islower() The islower() method returns true if all the characters in the string are lowercase characters, else it returns false.
str1='python'
str1.islower()

True

In [23]:
#isupper() The isupper() method returns true if all the characters in the string are uppercase characters, else it returns false.
var='TUTORIALSTEACHER'
var.isupper()

True

In [24]:
# '+'	Appends the second string to the first
a='hello'
b='world'
a+b

'helloworld'

In [25]:
# '*'	Concatenates multiple copies of the same string
a='hello'
a*3

'hellohellohello'

In [26]:
# 'in'	Returns true if a character exists in the given string
a = 'Python Tutorials'
'X' in a

False

In [27]:
# 'not in' Returns true if a character does not exist in the given string 
a = 'Python Tutorials'
'X' not in a

True

%c	character

%s	string conversion via str() prior to formatting

%i	signed decimal integer

%d	signed decimal integer

%u	unsigned decimal integer

%o	octal integer

%x / %X	hexadecimal integer (lowercase letters)

%e / %E	exponential notation (with lowercase 'e')

%f	floating point real number

In [28]:
b = str(123)
print(type(b))

<class 'str'>

In [29]:
c = '123'
print(type(c))

<class 'str'>