**Operators**: Operators are used to perform operations on variables and values.
            Operators are special symbols in Python that carry out arithmetic   
            or logical computation. The value that the operator operates on is 
            called the operand.

In [1]:
print(10 + 5) #here in the given example, we use the + operator to add together two values

15

Python divides the operators in the following groups:

1. Arithmetic operators

2. Assignment operators

3. Comparison operators

4. Logical operators

5. Identity operators

6. Membership operators

7. Bitwise operators

**arithmetic operators**: Arithmetic operators are used with numeric values to perform common mathematical operations

In [3]:
x=5
y=10
#(+) addition
print('x + y =',x+y) 
#(-) substraction
print('x - y =',x-y) 
#(*) multiplication 
print('x * y =',x*y)
#(/) divison
print('x / y =',x/y)
#(%) modulus
print('x % y =',x%y)
#(**) exponentiation
print('x ** y =',x**y)
#(//) floor divison
print('x // y =',x//y)

x + y = 15
x - y = -5
x * y = 50
x / y = 0.5
x % y = 5
x ** y = 9765625
x // y = 0

**Assignment Operators:**Assignment operators are used to assign values to variables.

In [10]:
#(=)
x=5
print(x)
#(+=)
x = 5
x += 3
print(x) 
#(-=)
x = 5
x -= 3
print(x)
#(*=)
x = 5
x *= 3
print(x)
#(/=)
x = 5
x /= 3
print(x)
#(%=)
x = 5
x %= 3
print(x)
#(**=)
x = 5
x **= 3
print(x)
#(//=)
x = 5
x //= 3
print(x) 
#(&=)
x = 5
x &= 3
print(x)

5
8
2
15
1.6666666666666667
2
125
1
1

**Comparision Operators**: Comparison operators are used to compare values. It returns either True or False according to the condition.

In [21]:
x = 5
y = 3
#(==) equal
print('x == y is',x==y)
# returns False because 5 is not equal to 3
#(!=) not equal
print('x != y =',x!=y)
# returns True because 5 is not equal to 3
#(>) greater than
print('x > y =',x>y)
# returns True because 5 is greater than 3
#(<) less than
print('x < y =',x<y)
# returns False because 5 is not less than 3
#(>=) graeter than equals to
print('x >= y =',x>=y)
# returns True because five is greater, or equal, to 3
#(<=) less than equals to
print('x <= y =',x<=y)
# returns False because five is  not less, or equal, to 3

x == y is False
x != y = True
x > y = True
x < y = False
x >= y = True
x <= y = False

**Logical Operators:**Logical operators are used to combine conditional statements:

In [33]:
x=5
y=10
# and- returns true if both statements are true
if y>x and x<y: #since 5<10 and 10>5 so here both the statements are true
 print("True")
# or- returns true if one of the statements is true
if x>y or y>x:  #since here only one statement is true and i.e 10>5
  print("True")
# not- Reverse the result, returns False if the result is true
x = 5
print(not(x > 3 and x < 10)) # returns False because not is used to reverse the result

True
True
False

**Identitiy Operator:** Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [35]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
#(is) Returns True if both variables are the same object

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

# (is) not	Returns True if both variables are not the same object
print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

True
False
True
False
True
False

**Membership Operators:** Membership operators are used to test if a sequence is presented in an object:

In [37]:
x = ["apple", "banana"]
# (in)	Returns True if a sequence with the specified value is present in the object

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

#(not in)	 Returns True if a sequence with the specified value is not present in the object

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True
True

**Bitwise Operator:** Bitwise operators are used to compare (binary) numbers. Bitwise operators act on operands as if they were strings of binary digits. They operate bit by bit, hence the name.

For example, 2 is 10 in binary and 7 is 111.

In the table below: Let x = 10 (0000 1010 in binary) and y = 4 (0000 0100 in binary).

Operator  	Name   	Description

   &    -  	AND	  -   Sets each bit to 1 if both bits are 1

   |	  -   OR	  -   Sets each bit to 1 if one of two bits is 1


   ^	  -   XOR  -	 Sets each bit to 1 if only one of two bits is 1


   ~ 	  -   NOT	 -   Inverts all the bits


 << - Zero fill left shift  - Shift left by pushing zeros in from the right and let the leftmost bits fall off

 >> - 	Signed right shift -	hift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off